<nav>
    <ul>
        <li>
            <a href="/"> HOME</a>
        </li>
        <li>
            <a href="/about">ABOUT</a>
        </li>
        <li>
            <a href="/projects">PROJECTS</a>
        </li>
        <li>
            <a href="/create_project">CREATE PROJECTS</a>
        </li>
        <li>
            <a href="/tasks">TASKS</a>
        </li>
        <li>
            <a href="/create_task">CREATE TASKS</a>
        </li>
    </ul>
</nav>


{% block content %}
    
{% endblock content %}
    