<nav>
    <ul>
        <li>
            <a href="/"> HOME</a>
        </li>
        <li>
            <a href="{% url 'about' %}">ABOUT</a>
        </li>
        <li>
            <a href="{% url 'projects' %}">PROJECTS</a>
        </li>
        <li>
            <a href="{% url 'create_project' %}">CREATE PROJECTS</a>
        </li>
        <li>
            <a href="{% url 'tasks' %}">TASKS</a>
        </li>
        <li>
            <a href="{% url 'create_task' %}">CREATE TASKS</a>
        </li>
    </ul>
</nav>


{% block content %}
    
{% endblock content %}
    